In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import plotly.express as px
import seaborn as sns
from sklearn.neighbors import KNeighborsRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import accuracy_score,mean_squared_error,mean_absolute_error
from sklearn.preprocessing import StandardScaler
from sklearn.tree import DecisionTreeRegressor

In [2]:
data = pd.read_csv('/Users/Ethan/Downloads/homelessdata.csv',encoding='latin1', low_memory=False)

In [3]:
data['Enrollments Project Start Date']

0        6/29/2018
1        6/29/2018
2        6/29/2018
3        6/29/2018
4        6/29/2018
           ...
77796     8/7/1994
77797     8/7/1994
77798     5/7/1993
77799     5/7/1993
77800    4/27/1993
Name: Enrollments Project Start Date, Length: 77801, dtype: object

In [4]:
data['Enrollments Project Start Date'] = pd.to_datetime(data['Enrollments Project Start Date'], errors = 'coerce')
data['Enrollments Project Start Date']
#pd.to_datetime(data['Enrollments Project Start Date'].head())

0       2018-06-29
1       2018-06-29
2       2018-06-29
3       2018-06-29
4       2018-06-29
           ...
77796   1994-08-07
77797   1994-08-07
77798   1993-05-07
77799   1993-05-07
77800   1993-04-27
Name: Enrollments Project Start Date, Length: 77801, dtype: datetime64[ns]

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77801 entries, 0 to 77800
Data columns (total 65 columns):
 #   Column                                                                  Non-Null Count  Dtype
---  ------                                                                  --------------  -----
 0   Agencies Agency Name                                                    77801 non-null  object
 1   Clients Age Tier                                                        77801 non-null  object
 2   Clients Ethnicity                                                       77801 non-null  object
 3   Clients Race                                                            77801 non-null  object
 4   Clients Veteran Status                                                  76513 non-null  object
 5   Clients Unique Identifier                                               77801 non-null  object
 6   Enrollments Days from Project Start to Move-In                          18591 non-null  object
 7   Enrollments Days in Project                                             77801 non-null  int64
 8   Enrollments Project Start Date                                          77800 non-null  datetime64[ns]
 9   Enrollments Project Exit Date                                           68618 non-null  object
 10  Entry Screen Residence Prior to Project Entry                           75787 non-null  object
 11  Inbound Recidivism Appeared Before (Yes / No)                           77801 non-null  object
 12  Inbound Recidivism Appeared Before In Same Program (Yes / No)           77801 non-null  object
 13  Inbound Recidivism Appeared Before with Stable Housing (Yes / No)       77801 non-null  object
 14  Inbound Recidivism Days Since Last Exit                                 27243 non-null  object
 15  Outbound Recidivism Appears Again (Yes / No)                            77801 non-null  object
 16  Outbound Recidivism Appears Again Without Stable Housing (Yes / No)     77801 non-null  object
 17  Outbound Recidivism Days Until Next Entry                               7656 non-null   object
 18  Outbound Recidivism Next Entry Date                                     7656 non-null   object
 19  Program Inventory End Date                                              3784 non-null   object
 20  Program Inventory Start Date                                            37918 non-null  object
 21  Programs Added Date                                                     77801 non-null  object
 22  Programs Name                                                           77801 non-null  object
 23  Programs Project Type Code                                              77801 non-null  object
 24  Update/Exit Custom Current Program Phase                                0 non-null      float64
 25  Update/Exit Screen Exit Destination                                     68618 non-null  object
 26  Update/Exit Screen Housed on Exit                                       77801 non-null  object
 27  Update/Exit Screen Housing Status                                       0 non-null      float64
 28  Clients Gender                                                          77801 non-null  object
 29  Clients Global Household - Head of Household (HoH)                      77134 non-null  object
 30  Clients Discharge Status                                                4884 non-null   object
 31  Clients American Indian or Alaska Native                                77801 non-null  object
 32  Clients Asian                                                           77801 non-null  object
 33  Clients Black or African American                                       77801 non-null  object
 34  Clients Native Hawaiian or Other Pacific Islander                       77801 non-null  object
 35  Clients White                                                           77801 non-null  object
 36  Enrollments Active in Project                                           77801 non-null  object
 37  Enrollments Last Exit Destination                                       68618 non-null  object
 38  Entry Custom Arson (Yes / No)                                           77801 non-null  object
 39  Entry Custom History of arson or sexually based offenses? (Yes / No)    77801 non-null  object
 40  Entry Custom HIV/AIDS (Yes / No)                                        77801 non-null  object
 41  Entry Screen Chronic Homeless at PIT/Current Date (Yes / No)            77801 non-null  object
 42  Entry Screen Chronic Homeless at Project Start (Yes / No)               77801 non-null  object
 43  Entry Screen Domestic Violence                                          75186 non-null  object
 44  Entry Screen Currently Fleeing Domestic Violence                        10814 non-null  object
 45  Entry Screen Education Degree                                           0 non-null      float64
 46  Entry Screen Employment Seeking                                         0 non-null      float64
 47  Entry Screen Child Support (Yes / No)                                   77801 non-null  object
 48  Entry Screen Earned Income (Yes / No)                                   77801 non-null  object
 49  Entry Screen General Assistance (Yes / No)                              77801 non-null  object
 50  Entry Screen Earned Income Tiers                                        77801 non-null  object
 51  Entry Screen Income from any Source                                     77801 non-null  object
 52  Entry Screen Pension or retirement income from a former job (Yes / No)  77801 non-null  object
 53  Entry Screen Private Disability Insurance (Yes / No)                    77801 non-null  object
 54  Entry Screen Social Security Retirement Income (Yes / No)               77801 non-null  object
 55  Entry Screen SSDI (Yes / No)                                            77801 non-null  object
 56  Entry Screen SSI (Yes / No)                                             77801 non-null  object
 57  Entry Screen TANF (Yes / No)                                            77801 non-null  object
 58  Entry Screen Non-Cash Benefit from Any Source                           77250 non-null  object
 59  Enrollments Count Children                                              77801 non-null  int64
 60  Enrollments Household Type                                              77801 non-null  object
 61  Enrollments Individual or Family                                        77801 non-null  object
 62  Enrollments Average Days from Project Start to Move-In                  18591 non-null  float64
 63  Enrollments Average Days in Project                                     77801 non-null  int64
 64  Enrollments Count Chronic Homeless Households                           77801 non-null  int64
dtypes: datetime64[ns](1), float64(5), int64(4), object(55)
memory usage: 38.6+ MB

In [6]:
data.head(5)

,Agencies Agency Name,Clients Age Tier,Clients Ethnicity,Clients Race,Clients Veteran Status,Clients Unique Identifier,Enrollments Days from Project Start to Move-In,Enrollments Days in Project,Enrollments Project Start Date,Enrollments Project Exit Date,...,Entry Screen SSDI (Yes / No),Entry Screen SSI (Yes / No),Entry Screen TANF (Yes / No),Entry Screen Non-Cash Benefit from Any Source,Enrollments Count Children,Enrollments Household Type,Enrollments Individual or Family,Enrollments Average Days from Project Start to Move-In,Enrollments Average Days in Project,Enrollments Count Chronic Homeless Households
0,AbS - Abode Services,45 to 54,Hispanic/Latino,White,No,75B1DC866,NaN,299,2018-06-29,NaN,...,No,No,No,Yes,0,Household without Children,Individual,NaN,299,0
1,AbS - Abode Services,45 to 54,Non-Hispanic/Non-Latino,Black or African American,No,179156ACC,NaN,231,2018-06-29,2/15/2019,...,No,No,No,No,0,Household without Children,Individual,NaN,231,0
2,AbS - Abode Services,45 to 54,Non-Hispanic/Non-Latino,White,No,F89729E91,NaN,139,2018-06-29,11/15/2018,...,No,No,No,Yes,0,Household without Children,Individual,NaN,139,1
3,BACS - Bay Area Community Services,25 to 34,Non-Hispanic/Non-Latino,White,No,C1A7A95B1,NaN,103,2018-06-29,10/10/2018,...,No,No,No,Yes,0,Household without Children,Individual,NaN,103,1
4,BACS - Bay Area Community Services,35 to 44,Hispanic/Latino,White,No,B47E8D743,NaN,103,2018-06-29,10/10/2018,...,No,Yes,No,No,0,Household without Children,Individual,NaN,103,1

In [7]:
data.drop(columns = ['Clients Ethnicity','Clients American Indian or Alaska Native'
                    ,'Clients Asian','Clients Black or African American','Clients Native Hawaiian or Other Pacific Islander'
                    ,'Clients White','Entry Screen Education Degree','Entry Screen Employment Seeking',
                    'Update/Exit Custom Current Program Phase','Update/Exit Screen Housing Status'
                    ,'Enrollments Days from Project Start to Move-In',
                    'Enrollments Project Exit Date','Inbound Recidivism Days Since Last Exit',
                    'Outbound Recidivism Days Until Next Entry','Outbound Recidivism Next Entry Date',
                    'Program Inventory End Date','Program Inventory Start Date','Programs Added Date','Update/Exit Screen Exit Destination'
                    ,'Update/Exit Screen Housed on Exit','Clients Global Household - Head of Household (HoH)',
                    'Clients Discharge Status','Enrollments Last Exit Destination','Entry Screen Currently Fleeing Domestic Violence',
                    'Enrollments Average Days from Project Start to Move-In','Enrollments Average Days in Project',
                    'Entry Screen Non-Cash Benefit from Any Source','Entry Screen Income from any Source',
                    'Entry Screen Earned Income Tiers','Enrollments Count Children','Clients Unique Identifier'], inplace = True)

In [8]:
data.dropna(inplace = True)

In [9]:
data5 = data.loc[data['Enrollments Project Start Date'] >= '1/1/2008']
data5

,Agencies Agency Name,Clients Age Tier,Clients Race,Clients Veteran Status,Enrollments Days in Project,Enrollments Project Start Date,Entry Screen Residence Prior to Project Entry,Inbound Recidivism Appeared Before (Yes / No),Inbound Recidivism Appeared Before In Same Program (Yes / No),Inbound Recidivism Appeared Before with Stable Housing (Yes / No),...,Entry Screen General Assistance (Yes / No),Entry Screen Pension or retirement income from a former job (Yes / No),Entry Screen Private Disability Insurance (Yes / No),Entry Screen Social Security Retirement Income (Yes / No),Entry Screen SSDI (Yes / No),Entry Screen SSI (Yes / No),Entry Screen TANF (Yes / No),Enrollments Household Type,Enrollments Individual or Family,Enrollments Count Chronic Homeless Households
0,AbS - Abode Services,45 to 54,White,No,299,2018-06-29,"Rental by client, with other housing subsidy (...",Yes,No,Yes,...,Yes,No,No,No,No,No,No,Household without Children,Individual,0
1,AbS - Abode Services,45 to 54,Black or African American,No,231,2018-06-29,Permanent housing (other than RRH) for formerl...,Yes,No,No,...,No,No,No,No,No,No,No,Household without Children,Individual,0
2,AbS - Abode Services,45 to 54,White,No,139,2018-06-29,Place not meant for habitation,Yes,No,No,...,No,No,No,No,No,No,No,Household without Children,Individual,1
3,BACS - Bay Area Community Services,25 to 34,White,No,103,2018-06-29,"Emergency Shelter, including hotel/motel paid ...",Yes,No,Yes,...,Yes,No,No,No,No,No,No,Household without Children,Individual,1
4,BACS - Bay Area Community Services,35 to 44,White,No,103,2018-06-29,Place not meant for habitation,Yes,No,Yes,...,No,No,No,No,No,Yes,No,Household without Children,Individual,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
76159,GI - Goodwill Industries of the Greater East Bay,55 to 64,Multi-racial,Yes,2093,2008-01-07,"Emergency Shelter, including hotel/motel paid ...",No,No,No,...,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Household without Children,Individual,0
76160,SMC - St. Mary's Center,65 or Above,American Indian or Alaska Native,No,1638,2008-01-05,Client refused,No,No,No,...,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Household without Children,Individual,0
76161,ACHCD - Housing and Community Development,65 or Above,Black or African American,No,4128,2008-01-04,Place not meant for habitation,No,No,No,...,Yes,No,No,No,No,No,No,Household without Children,Individual,0
76162,GI - Goodwill Industries of the Greater East Bay,35 to 44,Black or African American,No,2096,2008-01-04,"Emergency Shelter, including hotel/motel paid ...",No,No,No,...,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Household without Children,Individual,0
76163,BOSS - Building Opportunities for Self Suffici...,35 to 44,Black or African American,No,2204,2008-01-02,Place not meant for habitation,No,No,No,...,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Household without Children,Individual,0

In [10]:
data1 = data5.loc[data5['Enrollments Days in Project'] >= 0, :]
data1.describe()

,Enrollments Days in Project,Enrollments Count Chronic Homeless Households
count,72469.000000,72469.000000
mean,358.402255,0.187142
std,582.742398,0.390028
min,0.000000,0.000000
25%,24.000000,0.000000
50%,128.000000,0.000000
75%,415.000000,0.000000
max,4128.000000,1.000000

In [11]:
#data3 = data5.loc[data5['Enrollments Days in Project'] == 0 & 1, :]
#data3['Programs Project Type Code']
#data3['Programs Project Type Code'].value_counts()

In [12]:
data4 = data1.loc[data1['Enrollments Days in Project'] >= 2, :]
data4.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 63093 entries, 0 to 76163
Data columns (total 34 columns):
 #   Column                                                                  Non-Null Count  Dtype
---  ------                                                                  --------------  -----
 0   Agencies Agency Name                                                    63093 non-null  object
 1   Clients Age Tier                                                        63093 non-null  object
 2   Clients Race                                                            63093 non-null  object
 3   Clients Veteran Status                                                  63093 non-null  object
 4   Enrollments Days in Project                                             63093 non-null  int64
 5   Enrollments Project Start Date                                          63093 non-null  datetime64[ns]
 6   Entry Screen Residence Prior to Project Entry                           63093 non-null  object
 7   Inbound Recidivism Appeared Before (Yes / No)                           63093 non-null  object
 8   Inbound Recidivism Appeared Before In Same Program (Yes / No)           63093 non-null  object
 9   Inbound Recidivism Appeared Before with Stable Housing (Yes / No)       63093 non-null  object
 10  Outbound Recidivism Appears Again (Yes / No)                            63093 non-null  object
 11  Outbound Recidivism Appears Again Without Stable Housing (Yes / No)     63093 non-null  object
 12  Programs Name                                                           63093 non-null  object
 13  Programs Project Type Code                                              63093 non-null  object
 14  Clients Gender                                                          63093 non-null  object
 15  Enrollments Active in Project                                           63093 non-null  object
 16  Entry Custom Arson (Yes / No)                                           63093 non-null  object
 17  Entry Custom History of arson or sexually based offenses? (Yes / No)    63093 non-null  object
 18  Entry Custom HIV/AIDS (Yes / No)                                        63093 non-null  object
 19  Entry Screen Chronic Homeless at PIT/Current Date (Yes / No)            63093 non-null  object
 20  Entry Screen Chronic Homeless at Project Start (Yes / No)               63093 non-null  object
 21  Entry Screen Domestic Violence                                          63093 non-null  object
 22  Entry Screen Child Support (Yes / No)                                   63093 non-null  object
 23  Entry Screen Earned Income (Yes / No)                                   63093 non-null  object
 24  Entry Screen General Assistance (Yes / No)                              63093 non-null  object
 25  Entry Screen Pension or retirement income from a former job (Yes / No)  63093 non-null  object
 26  Entry Screen Private Disability Insurance (Yes / No)                    63093 non-null  object
 27  Entry Screen Social Security Retirement Income (Yes / No)               63093 non-null  object
 28  Entry Screen SSDI (Yes / No)                                            63093 non-null  object
 29  Entry Screen SSI (Yes / No)                                             63093 non-null  object
 30  Entry Screen TANF (Yes / No)                                            63093 non-null  object
 31  Enrollments Household Type                                              63093 non-null  object
 32  Enrollments Individual or Family                                        63093 non-null  object
 33  Enrollments Count Chronic Homeless Households                           63093 non-null  int64
dtypes: datetime64[ns](1), int64(2), object(31)
memory usage: 16.8+ MB

In [13]:
data2 = pd.get_dummies(data4, drop_first = True)
#changing categorical columns into dummies

In [14]:
data2.head(10)

,Enrollments Days in Project,Enrollments Project Start Date,Enrollments Count Chronic Homeless Households,Agencies Agency Name_ACHCD - Housing and Community Development,Agencies Agency Name_APC - Alameda Point Collaborative,Agencies Agency Name_AbS - Abode Services,Agencies Agency Name_BACS - Bay Area Community Services,Agencies Agency Name_BFHP - Berkeley Food and Housing Project,Agencies Agency Name_BFWC - Building Futures with Women and Children,Agencies Agency Name_BH - Bonita House,...,Entry Screen Pension or retirement income from a former job (Yes / No)_Yes,Entry Screen Private Disability Insurance (Yes / No)_Yes,Entry Screen Social Security Retirement Income (Yes / No)_Yes,Entry Screen SSDI (Yes / No)_Yes,Entry Screen SSI (Yes / No)_Yes,Entry Screen TANF (Yes / No)_Yes,Enrollments Household Type_Household without Children,Enrollments Household Type_Households with only Children,Enrollments Household Type_Unknown,Enrollments Individual or Family_Individual
0,299,2018-06-29,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,1,0,0,1
1,231,2018-06-29,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,1,0,0,1
2,139,2018-06-29,1,0,0,1,0,0,0,0,...,0,0,0,0,0,0,1,0,0,1
3,103,2018-06-29,1,0,0,0,1,0,0,0,...,0,0,0,0,0,0,1,0,0,1
4,103,2018-06-29,1,0,0,0,1,0,0,0,...,0,0,0,0,1,0,1,0,0,1
5,290,2018-06-29,1,0,0,0,1,0,0,0,...,0,0,0,0,0,0,1,0,0,1
6,199,2018-06-29,1,0,0,0,1,0,0,0,...,0,0,1,0,0,0,1,0,0,1
10,3,2018-06-29,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,1,0,0,1
13,83,2018-06-29,0,0,0,0,0,0,1,0,...,0,0,0,0,0,1,0,0,0,0
15,10,2018-06-29,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,1

In [15]:
data2.drop(columns = ['Enrollments Project Start Date'], inplace = True)

In [16]:
x = data2.drop('Enrollments Days in Project', axis = 1)

#std = StandardScaler()
#x = std.fit_transform(x)

In [17]:
labels = data2['Enrollments Days in Project']
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x,labels, test_size = 0.2)

In [18]:
#y = data2['Enrollments Days in Project']
#from sklearn.model_selection import train_test_split
#x_train, x_rem, y_train, y_rem = train_test_split(x,y, train_size=0.8)
#test_size = 0.5
#x_valid, x_test, y_valid, y_test = train_test_split(x_rem,y_rem, test_size=0.1)
#print(x_train.shape), print(y_train.shape)
#print(x_valid.shape), print(y_valid.shape)
#print(x_test.shape), print(y_test.shape)
#x_train, x_test, y_train, y_test = train_test_split(x,labels, test_size = 0.1)

In [19]:
np.mean(y_train)

410.4489638229584

In [20]:
len(y_test)

12619

In [21]:
#linear regression
from sklearn.linear_model import LinearRegression
lr = LinearRegression()
lr.fit(x_train,y_train)
pred_lr = lr.predict(x_test)
score_lr = lr.score(x_train,y_train)
print(score_lr)
print(lr.coef_[0])
print(lr.intercept_)
preco_lr = data2['Enrollments Days in Project']
predict_lr = pd.Series(pred_lr)
mae_lr = mean_absolute_error(y_test,pred_lr)
mse_lr = mean_squared_error(y_test,pred_lr)
rmse_lr = np.sqrt(mse_lr)

print('Mae_lr: ',mae_lr)
print('Mse_lr: ',mse_lr)
print('Rmse_lr: ',rmse_lr)

0.6229116165309585
-30.618822246957823
3131875232417.3784
Mae_lr:  75862253.77613854
Mse_lr:  7.2622944294278414e+19
Rmse_lr:  8521909662.410088

In [22]:
len(pred_lr)

12619

In [23]:
preco_lr = data2['Enrollments Days in Project']
predict_lr = pd.Series(pred_lr)
error_lr = preco_lr-predict_lr
data1_lr = {'Days':preco_lr,'Predictions':predict_lr,'Error':error_lr}
data1_prev_lr = pd.DataFrame(data1_lr)
data.dropna(inplace = True)
data1_prev_lr.head(15)

     Days  Predictions       Error
0   299.0   -37.582520  336.582520
1   231.0   -57.227051  288.227051
2   139.0   304.640137 -165.640137
3   103.0    88.283691   14.716309
4   103.0   189.827637  -86.827637
5   290.0   -20.824707  310.824707
6   199.0   158.339355   40.660645
7     NaN   104.527832         NaN
8     NaN  1618.464355         NaN
9     NaN   787.568359         NaN
10    3.0   144.425293 -141.425293
11    NaN   892.457520         NaN
12    NaN   707.845215         NaN
13   83.0   541.112793 -458.112793
14    NaN   186.737793         NaN

In [24]:
def mape(actual,pred):
    return np.mean(np.abs((actual - pred) / actual)) * 100
#actual = data2['Enrollments Days in Project']
actual = y_test
pred = pd.Series(pred_lr)
#Calculate the MAPE
result = mape(actual,pred)
#print the result
print("The mean absolute percentage error: ",result)

The mean absolute percentage error:  1011.2674774512204

In [25]:
len(pred)

12619

In [26]:
#decision tree regressor
dtr = DecisionTreeRegressor(random_state=0)
dtr.fit(x_train,y_train)
pred_dtr = dtr.predict(x_test)
score_dtr = dtr.score(x_train,y_train)
print(score_dtr)
mae_dtr = mean_absolute_error(y_test,pred_dtr)
mse_dtr = mean_squared_error(y_test,pred_dtr)
rmse_dtr = np.sqrt(mse_dtr)
print('Mae_dtr: ',mae_dtr)
print('Mse_dtr: ',mse_dtr)
print('Rmse_dtr: ',rmse_dtr)

0.9561892369019889
Mae_dtr:  209.13753284509696
Mse_dtr:  164408.6625898143
Rmse_dtr:  405.4733808646559

In [27]:
price_dtr = data2['Enrollments Days in Project']
predict_dtr = pd.Series(pred_dtr)
error_dtr = price_dtr-predict_dtr
data_dtr = {'Days':price_dtr,'Predictions':predict_dtr,'Error':error_dtr}
data_prev_dtr = pd.DataFrame(data_dtr)
data_prev_dtr.head(15)

     Days  Predictions       Error
0   299.0     4.333333  294.666667
1   231.0   106.000000  125.000000
2   139.0   796.000000 -657.000000
3   103.0    21.500000   81.500000
4   103.0    24.000000   79.000000
5   290.0     4.666667  285.333333
6   199.0    81.000000  118.000000
7     NaN    45.000000         NaN
8     NaN  2448.000000         NaN
9     NaN  1246.000000         NaN
10    3.0    87.000000  -84.000000
11    NaN   883.000000         NaN
12    NaN   561.000000         NaN
13   83.0   279.500000 -196.500000
14    NaN    69.000000         NaN

In [28]:
def mape(actual,pred):
    return np.mean(np.abs((actual - pred) / actual)) * 100
actual = y_test
pred = pd.Series(pred_dtr)
#Calculate the MAPE
result = mape(actual,pred)
#print the result
print("The mean absolute percentage error: ",result)

The mean absolute percentage error:  966.339346487815

In [29]:
#random forest
rfr = RandomForestRegressor(n_estimators=200)
rfr.fit(x_train,y_train)
score_rfr = rfr.score(x_train,y_train)
print(score_rfr)
pred_rfr = rfr.predict(x_test)
mae_rfr = mean_absolute_error(y_test,pred_rfr)
mse_rfr = mean_squared_error(y_test,pred_rfr)
rmse_rfr = np.sqrt(mean_squared_error(y_test,pred_rfr))
print('Mae: ',mae_rfr)
print('Mse: ',mse_rfr)
print('Rmse: ',rmse_rfr)

0.9269425121935311
Mae:  181.06777529371968
Mse:  102392.37015120334
Rmse:  319.9880781391759

In [30]:
preco_rfr = data2['Enrollments Days in Project']
predict_rfr = pd.Series(pred_rfr)
error_rfr = preco_rfr-predict_rfr
data_rfr = {'Days':preco_rfr,'Predictions':predict_rfr,'Error':error_rfr}
data_prev_rfr = pd.DataFrame(data_rfr)
data_prev_rfr.head(10)

    Days  Predictions       Error
0  299.0     5.165125  293.834875
1  231.0   110.715000  120.285000
2  139.0   426.203500 -287.203500
3  103.0    73.437304   29.562696
4  103.0    94.772500    8.227500
5  290.0     9.592372  280.407628
6  199.0    57.980833  141.019167
7    NaN   103.229500         NaN
8    NaN  2163.667333         NaN
9    NaN  1191.674583         NaN

In [31]:
def mape(actual,pred):
    return np.mean(np.abs((actual - pred) / actual)) * 100
actual = y_test
pred = pd.Series(pred_rfr)
#Calculate the MAPE
result = mape(actual,pred)
#print the result
print("The mean absolute percentage error: ",result)

The mean absolute percentage error:  964.1281369113736

In [32]:
#knn regressor
knr = KNeighborsRegressor(n_neighbors = 10)
knr.fit(x_train,y_train)
score_knr = knr.score(x_train,y_train)
print(score_knr)
pred_knr = knr.predict(x_test)
mae_knr = mean_absolute_error(y_test,pred_knr)
mse_knr = mean_squared_error(y_test,pred_knr)
rmse_knr = np.sqrt(mse_knr)
print('Mae_knr: ',mae_knr)
print('Mse_knr: ',mse_knr)
print('Rmse_knr: ',rmse_knr)

0.721768692798727
Mae_knr:  206.1804342657897
Mse_knr:  125602.54484745224
Rmse_knr:  354.40449326645427

In [33]:
price_knr = data2['Enrollments Days in Project']
predict_knr = pd.Series(pred_knr)
error_knr = price_knr-predict_knr
data_knr = {'Days':price_knr,'Predictions':predict_knr,'Error':error_knr}
data_prev_knr = pd.DataFrame(data_knr)
data_prev_knr.head(10)

    Days  Predictions  Error
0  299.0         12.6  286.4
1  231.0         69.8  161.2
2  139.0        314.1 -175.1
3  103.0         76.9   26.1
4  103.0         83.8   19.2
5  290.0         14.9  275.1
6  199.0         41.7  157.3
7    NaN        195.0    NaN
8    NaN       1938.7    NaN
9    NaN        902.8    NaN

In [34]:
def mape(actual,pred):
    return np.mean(np.abs((actual - pred) / actual)) * 100
actual = y_test
pred = pd.Series(pred_knr)
#Calculate the MAPE
result = mape(actual,pred)
#print the result
print("The mean absolute percentage error: ",result)

The mean absolute percentage error:  934.8011585433985

In [35]:
#prediction of 362
def mape(actual,pred):
    return np.mean(np.abs((actual - pred) / actual)) * 100
actual = y_test
pred_set = [362]*12619
#Calculate the MAPE
result = mape(actual,pred_set)
#print the result
print("The mean absolute percentage error: ",result)
mae_knr = mean_absolute_error(y_test,pred_set)
mse_knr = mean_squared_error(y_test,pred_set)
rmse_knr = np.sqrt(mse_knr)
print('Mae_knr: ',mae_knr)
print('Mse_knr: ',mse_knr)
print('Rmse_knr: ',rmse_knr)

The mean absolute percentage error:  928.0911772342863
Mae_knr:  384.76384816546476
Mse_knr:  382275.1204532847
Rmse_knr:  618.2840127751037

In [36]:
from sklearn.metrics import mean_absolute_error

def mean_absolute_scaled_error(y_true, y_pred, y_train):
    e_t = y_true - y_pred
    scale = mean_absolute_error(y_train[1:], y_train[:-1])
    return np.mean(np.abs(e_t / scale))

In [37]:
#get_dummies(data, drop_first = True)
#glm

In [38]:
only use the dates within the 10 yr
avg 362 days in program within 10 yr of recording
avg 4134 days of enrollments before 10 yr period

SyntaxError: invalid syntax (<ipython-input-38-04d12db020ca>, line 1)